@media(max-width:1024px) {
	.container {
		grid: auto;
        height: auto;
        align-items: center;
        
	}
      /* first page */
      .gridpart {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
      }
      .leftgrid{
          display: none;
      }
      .rightgrid {
        display: none;
      }
      .infogrid{
          display: flex;
          justify-content: center;
      }
      .information .Iam{
          display: none;
      }
      .information .profession{
        display: none;
    }
      .logos{
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
      }
      .logos a{
        align-items: center;
        gap: 0px;
      }
      .myBiography{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
      }  
      .myinformation{
          align-items: center;
      }
      .myinformation p{
       display: none;
      }
      .myinformation button {
        padding: 15px;
        font-size: 10px;
      }   
      .profile-photo {
        max-width: 150px;
        max-height: 300px;
        margin-right: 10px;
      }   
      /* progress bar */
      .myprogress{
        margin: 20px;
        padding-left: 70px;
      }
        .bottoncontactdiv {
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            gap: 5px;
            background-color: rgb(45, 27, 181);
            width: 100%;
        }
        .circleDiv {
            display: flex;
            text-align: center;
        }
        .bottoncontactdiv .circleDiv a {
            align-items: center;
            margin-top: 100px;
            font-size: 30px;
            max-width:30px;
            max-height: 30px;
        }
        .bottoncontactdiv .circleDot {
            height: max-content;
            width: max-content;
            padding: 5px;
        }
        .bottoncontactdiv .circleDot a {
            align-items: center;
            margin-top: 100px;
            font-size: 30px;
            width: max-content;
            height: max-content;
        }
        .bottoncontactdiv h4 {
        display: none;
        }
        .gridsection {
            justify-content: center;
        }
        .serviceDiv {
            display: flex;
            flex-wrap: wrap;
        }
        .servicefirstside{
            max-width: 200px;
            max-height: 280px;
        }
        .anotherside {
            max-width: 200px;
            max-height: 280px;   
        }
        .projectoffers{
            display: flex;
            flex-wrap: wrap;
        }
        #sidebar{
            width: 400px;
        }
        .projectnames{
            padding-top: 20px;
           display: flex;
           flex-wrap: wrap;
        }
        .articledescription p{
            display: none;
        }
        .articleimagepart img{
            width: 400px;
            height: 290px;
        }
        .mypartners{
            display: flex;
            flex-wrap: wrap;
        }
        .contactdiv {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }       
    }